<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Try Django</title>
</head>

<body>
    <h1>Hello World</h1>

    <form method="GET" action="/articles/">
        <div>
            <input type="text" name="query">
        </div>
        <button style="margin-top:10px" type="submit">Submit</button>
    </form>

    {% block content %}

    {% endblock content %}
</body>

</html>